<div id="container">


    <mat-card id="innerContainer">
        <img style="height: 150px; width:150px;" src="assets/computer.png" alt="no luck">
        <h1>Register Here!!</h1>
        <form action="" #formInfo="ngForm">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>user name</mat-label>
                <input #userNameInput name="userName" [(ngModel)]="user.userName" required matInput type="text" placeholder="Enter here" matInput/>
            </mat-form-field>
            <br/>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>email</mat-label>
                <input #emailInput name="email" email [(ngModel)]="user.email" required matInput type="email" placeholder="Enter here" matInput/>
            </mat-form-field>
            <br/>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>password</mat-label>
                <input #passwordInput name="password" required matInput [(ngModel)]="user.password" type="password" placeholder="Enter here" />
            </mat-form-field>
            <br/>
            <button color="primary" [disabled]="formInfo.invalid" mat-raised-button (click)="register()"> Register </button>
            <button color="accent" style="margin-left:20px;" mat-raised-button (click)="emailInput.value='';passwordInput.value='';userNameInput.value=''"> Clear</button>
        </form>
    </mat-card>
</div>