.nav-bar{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
img{
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
    position:absolute;
}
#exam-portal{
    left: 60px;
    top: 15px;
    position:absolute;
}
.ref{
    text-decoration: none;
    box-shadow: none;
    color: #ffffff;
}