
#container{
    height: 90%;
    width: 100%;
    background-image:url('../../../../assets/image.png');
    background-size: cover;

}
.full-width{
    width: 70%;
}
#innerContainer{
    color: rgb(0, 0, 0);
    background-color: rgb(210, 255, 251);
    position: absolute;
    width: 400px;
    height: 420px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 -200px;
    text-align: center;
}