<div class="mainContainer">
    <div><mat-card>
        <mat-card-header><h1>profile details</h1></mat-card-header>
        <mat-card-content *ngIf="this.user">
            email:{{this.user.email}}
            <br/>
            name:{{this.user.userName}}
            <br/>
            password:{{this.user.password}}
            <br/>
        </mat-card-content>
    </mat-card></div>
    <div style="grid-row: span 2;"><mat-card>
        <mat-card-header><h1>exams history</h1></mat-card-header>
        <mat-card-content>
            <mat-card style="margin:10px ; text-align:center" *ngFor="let quizSummary of quizSummaries">
                <mat-card-content>quiz name: {{quizSummary.quiz.name}}</mat-card-content>
                <mat-card-content>grade: {{quizSummary.grade}}</mat-card-content>
                <mat-card-footer>time taken:{{quizSummary.dateTime| date:"dd/MM/yyyy HH:mm"}}</mat-card-footer>
            </mat-card>
        </mat-card-content>
    </mat-card></div>
    <div><mat-card>
        <mat-card-header><h1>statistics</h1></mat-card-header>
        <mat-card-content *ngIf="this.quizSummaries">
            quizes taken:{{this.quizSummaries.length}}
            <br/>
            quizes passed:{{this.quizesPassed}}
            <br/>
            average grade:
            <br/>
        </mat-card-content>
        </mat-card></div>
</div>
